* {
    box-sizing: border-box;
}

.adminBook {
    width: 33.33%;
    padding: 20px;
    background-color: lightcyan;
    text-align:center;
}

.containerBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
}

.input_book {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adminBook_img {
    width: 100%;
}
