<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>

    {% for message in app.flashes('success') %}
        
        <h2>{{ message }}</h2>

    {% endfor %}

    <header>
        <p>Je suis le header de la zone d'admin</p>
        <a href="{{ path('admin_books') }}">Liste des livres</a>
    </header>

    {% block body %}
    {% endblock body %}

    <footer>
        Je suis le footer de la zone d'admin
    </footer>

</body>
</html>
