<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <header>
        je suis le header
    </header>
        {% block body %}
        {% endblock %}
    <footer>
        je suis le footer
    </footer>
    </body>
</html>
